@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<br />
<h1>Welcome to the star wars app</h1>
<br />
<br />
<br />
<button class="btn btn-primary" onclick="window.location.href = '../Home/Search'">Search For a planet or person!</button>